@import "./corestyle.scss";

html,
body {
  width: 100vw;
  background-color: #f0f2f5;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background-color: #d4d5d8;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #8b8e92;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
  background-color: #5f6061;
}

.main {
  color: $primary-color;
}

.vh-50 {
  height: 50vh !important;
}

.vh-30 {
  height: 30vh !important;
}

.vh-20 {
  height: 20vh !important;
}

.vh-15 {
  height: 169px !important;
}

.vh-40 {
  height: 40vh !important;
}

.vw-5 {
  width: 5vw !important;
}

.vw-50 {
  width: 50vw !important;
}

.vw-10 {
  width: 127px !important;
}

.vw-15 {
  width: 15vw !important;
}

.vw-90 {
  width: 90vw !important;
}

.custom-container {
  margin-left: 55px; /* Same as the width of the sidenav */
  padding: 0px 0px;

  .custom-content {
    padding: 0 6px;
  }

  .page-header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 12px 20px 12px 24px;

    .text-wrapper {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      color: var(--black);
      display: -webkit-box;
      flex: 1;
      font-family: "Inter-SemiBold", Helvetica;
      font-size: 16px;
      font-weight: 600;
      height: 26px;
      letter-spacing: 0;
      line-height: 26px;
      margin-top: -1px;
      overflow: hidden;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .user-circle {
      padding-left: -2px;
      height: 22px !important;
      position: relative !important;
      width: 22px !important;
      color: #6f8294;
    }
  }
}

.circular-toggle {
  width: 50px; /* Set the desired width */
  height: 35px; /* Set the desired height */
  border-radius: 30%;
}

//sidenav
.side-navbar {
  background-color: #16213e;
  height: 100%;
  width: 55px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;

  .text-wrapper {
    color: #ffffff;
    font-family: "Kanit-SemiBold", Helvetica !important;
    font-size: 28px;
    font-weight: 600;
    left: 10px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    top: 10px;
    white-space: nowrap;
    cursor: pointer;
  }

  .gauge-instance {
    height: 18px !important;
    left: 16px !important;
    position: absolute !important;
    top: 62px !important;
    width: 18px !important;
    color: #d4d5d8;
    cursor: pointer;
  }

  .settings-icon {
    height: 18px !important;
    left: 16px !important;
    position: absolute !important;
    top: 99px !important;
    width: 18px !important;
    color: #d4d5d8;
    cursor: pointer;
  }
  .wrench-icon {
    height: 18px !important;
    left: 16px !important;
    position: absolute !important;
    top: 135px !important;
    width: 18px !important;
    color: #d4d5d8;
    cursor: pointer;
  }
}

.dashboard-page {
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: rgb(243, 213, 202);
  padding: 10px;
  position: sticky;
  top: 0;

  .brand-name {
    flex-grow: 8;
    font-size: 40px;
  }

  .icon {
    padding: 8px;
  }
}

input {
  border: none;
  border-bottom-style: outset;
}

.weather-button-container {
  display: inline-flex;
  padding: 2px;
  align-items: flex-start;
  gap: 4px;
  border-radius: 4px;
  background: #eff2f4;
}

.daily-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15vh;
  width: 15vw;
  margin: auto;
  padding: 15px;

  .daily-temp-space {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .daily-temp-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .temperature-container {
      position: relative;
      padding: 2px;
    }

    .temperature-value {
      color: #515a62;
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px;
    }

    .temperature-unit {
      position: absolute;
      color: #6f8294;
      top: 0px;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      margin-top: -5px;
    }

    .temperature-range-text {
      color: #6f8294;
      top: 0px;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
    }
  }

  .weather-date {
    color: #6f8294;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
}

.weather-icon {
  color: #6f8294;
  background: radial-gradient(circle at 30% 30%, #ffae10, transparent 50%),
    radial-gradient(circle at 70% 70%, #f0f2f5, transparent 80%),
    linear-gradient(#f0f2f5, #f0f2f5),
    linear-gradient(
      45deg,
      #f0f2f5 25%,
      transparent 25%,
      transparent 75%,
      #f0f2f5 75%
    ),
    linear-gradient(
      45deg,
      #f0f2f5 25%,
      transparent 25%,
      transparent 75%,
      #f0f2f5 75%
    ) !important;
  border-radius: 20px;
}

.daily-periodic-updates {
  display: grid;
  gap: 7px;
  grid-auto-flow: column;
  grid-auto-columns: 13.2%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-bottom: 5px;
  .daily-period-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    min-height: 133px;

    .daily-period-weather-time {
      color: #6f8294;
      font-family: "Inter-Regular", Helvetica;
      font-size: 12px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0;
      line-height: 20px;
      text-align: center;
      top: 0;
      white-space: nowrap;
    }

    .daily-period-weather-temp {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      .daily-period-weather-range-text {
        color: #6f8294;
        font-family: "Inter-Medium", Helvetica;
        font-size: 10px;
        font-weight: 500;
      }
      .daily-period-weather-range-temp {
        color: #515a62;
        font-family: "Inter-Medium", Helvetica;
        font-size: 18px;
        font-weight: 500;
        left: 0;
        letter-spacing: 0;
        line-height: 20px;
        text-align: center;
        top: 0;
        white-space: nowrap;
      }
    }
    .daily-forcast-condition {
      color: #6f8294;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
    }
  }
}

.hourly-periodic-updates {
  display: grid;
  gap: 7px;
  grid-auto-flow: column;
  grid-auto-columns: 13.2%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-bottom: 5px;
  .hourly-period-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    min-height: 150px;

    .hourly-period-weather-time {
      color: #6f8294;
      font-family: "Inter-Regular", Helvetica;
      font-size: 12px;
      font-weight: 400;
      left: 0;
      letter-spacing: 0;
      line-height: 20px;
      text-align: center;
      top: 0;
      white-space: nowrap;
    }

    .hourly-period-weather-temp {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      .hourly-period-weather-range-text {
        color: #6f8294;
        font-family: "Inter-Medium", Helvetica;
        font-size: 10px;
        font-weight: 500;
      }
      .hourly-period-weather-range-temp {
        color: #515a62;
        font-family: "Inter-Medium", Helvetica;
        font-size: 18px;
        font-weight: 500;
        left: 0;
        letter-spacing: 0;
        line-height: 20px;
        text-align: center;
        top: 0;
        white-space: nowrap;
      }
    }
    .hourly-forcast-condition {
      color: #6f8294;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
    }
  }
}

.notation {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding-top: 5px;
}

.icon {
  padding: 8px;
}

.market-data-table {
  max-height: 35vh;
  overflow-y: auto;

  table {
    border-collapse: collapse;
    margin: 0;

    tr {
      border-color: #f2f7ff;
      border-radius: 4px;
    }

    th {
      background-color: #f2f7ff;
      border: none;
      position: sticky;
      font-family: "Inter-SemiBold", Helvetica;
      color: #445992;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 18px;
      margin-top: -1px;
      top: 0;
      z-index: 1;
    }
    td {
      border: none;
      color: var(--greygrey-20-80);
      flex: 1;
      font-family: "Inter-Medium", Helvetica;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 19.5px;
      margin-top: -1px;
      position: relative;
    }
  }
}

.table-dropdown {
  padding: 8px 16px 0px 0px;
  text-align: center;
  .table-drop-button {
    border-radius: 0px;
  }
  .table-drop-menu {
    max-height: 250px;
    overflow-y: auto;
    .dropdown-item {
      color: #6f8294;
      font-family: "Inter-Medium", Helvetica;
      font-size: 13px !important;
    }
  }
}

.table-main-text {
  color: #253748 !important;
  flex: 1;
  font-family: var(--medium-13-font-family) !important;
  font-size: var(--medium-13-font-size) !important;
  font-style: var(--medium-13-font-style) !important;
  font-weight: var(--medium-13-font-weight) !important;
  letter-spacing: var(--medium-13-letter-spacing) !important;
  line-height: var(--medium-13-line-height) !important;
}

.navbar,
.navbar-default {
  background-color: #ffffff !important;
}

.navbar .text-wrapper {
  color: #253748;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.text-wrapper-2 {
  color: #6f8294 !important;
  font-family: "Inter-Medium", Helvetica !important;
  font-size: 15px;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  line-height: 20px !important;
  margin-top: -1px !important;
  position: relative !important;
  white-space: nowrap !important;
  width: fit-content !important;
}
//login page
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.date-picker-button {
  margin-top: ($spacer * 0.5);
  margin-right: ($spacer * 0.5);
  color: #6f8294 !important;
  font-family: "Inter-Medium", Helvetica !important;
  font-size: 15px;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
  position: relative !important;
  white-space: nowrap !important;
  width: fit-content !important;
}

.sidebar-offcanvas {
  background-color: #16213e;
  max-width: 320px !important;
  .sidebar-header-text {
    color: #fff;
    font-family: "Kanit-SemiBold", Helvetica !important;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
}
.custom-close-button {
  color: #fff !important;
}

:export {
  main: main;
}

.custom-list {
  list-style-type: none;
}

.canvas-body {
  margin-left: -45px !important;
  margin-top: -17px;
}

.list-item-header {
  display: flex;
  gap: 15px;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
}

.list-item-header span {
  color: white;
  margin-left: 10px; /* Adjust as needed */
}

.expand-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: white;
}

.subitem-list {
  list-style-type: none;
}

.subitem-list li {
  color: white;
  padding: 5px;
  cursor: pointer;
}

.subitem-text {
  padding: 10px;
  color: white;
  font-weight: 300;
}
